<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ORT Music Store</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        
        <a href='@Url.Action("Index", "")'><img src="https://inamu.musica.ar/uploads/paginas/imagenes/a5a7da493cbc5d77f3589acf33cbff89.png" alt=""></a>
        <h1>ORT Music Store</h1>

    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <h6>Propiedad de Castillo, Roth, Liberman y asociados</h6> 
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
